# Billing service
BILLING_HOST=0.0.0.0
BILLING_PORT=8080

# inventory service
INVENTORY_HOST=0.0.0.0
INVENTORY_PORT=8080
INVENTORY_API_URL=http://inventory-app:8080

# gateway service
GATEWAY_HOST=0.0.0.0
GATEWAY_PORT=3000

# inventory PostgreSQL
INVENTORY_DB_HOST=inventory-db
INVENTORY_DB_PORT=5432
INVENTORY_DB_NAME=inventory_db
INVENTORY_DB_USER=inventory_user
INVENTORY_DB_PASSWORD=password

# Billing PostgreSQL
BILLING_DB_HOST=billing-db
BILLING_DB_PORT=5432
BILLING_DB_NAME=billing_db
BILLING_DB_USER=billing_user
BILLING_DB_PASSWORD=password

# RabbitMQ
RABBITMQ_HOST=rabbit-queue
RABBITMQ_PORT=5672
RABBITMQ_USER=rabbit_user
RABBITMQ_PASSWORD=password
RABBITMQ_QUEUE=billing_queue
