# Billing service
BILLING_HOST=0.0.0.0
BILLING_PORT=5001

# Billing PostgreSQL
BILLING_DB_HOST=localhost
BILLING_DB_PORT=5432
BILLING_DB_NAME=billing_db
BILLING_DB_USER=billing_user
BILLING_DB_PASSWORD=billing_password

# RabbitMQ
RABBITMQ_PORT=5672
RABBITMQ_USER=rabbit_user
RABBITMQ_PASSWORD=rabbit_password
RABBITMQ_QUEUE=billing_queue

# inventory service
INVENTORY_HOST=0.0.0.0
INVENTORY_PORT=8080

# inventory PostgreSQL
INVENTORY_DB_HOST=localhost
INVENTORY_DB_PORT=5432
INVENTORY_DB_NAME=movies_db
INVENTORY_DB_USER=movies_user
INVENTORY_DB_PASSWORD=movies_password

# gateway service
GATEWAY_HOST=0.0.0.0
GATEWAY_PORT=8000

INVENTORY_API_URL=http://192.168.56.20:8080
RABBITMQ_HOST=192.168.56.30
